

body{
    font-family: arial, sans-sherif;
    margin: 0;
    padding: 0;
    background-color: rgba(190, 245, 10, 0.441);
}
header{
    background-color: #393c3a;
    color: #fcd704;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

form#searchForm{
    margin-top: 1rem;
}

form#searchForm input{
    padding: 0.5rem;
    margin-right: 0.5rem;
}

form#searchForm button{
    padding: 0.5rem;
}

main{
    padding: 5rem 1rem 1rem;
}

section{
    margin-bottom: 2rem;
}
.service{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    text-align: center;
}
.servce img{
    max-width: 100%;
    height: auto;
}

blockquote{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.gallery img{
    width: 100%;
    height: 80%;
    display: block;
    border: 1px solid #ccc;
}

blockquote{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 5px solid #333;
}

.faq-item{
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
}

footer{
    background-color: #181709f4;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: sticky;
    width: 100%;
    bottom: 0;
    
}

footer .social-media a:hover{
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

textarea{
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

//*background-image {
    background-image: url("IMG_20231011_214914.jpg");
    background-size: cover;
    background-position: center;
}*//


